<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--
<div class="content" role="main">
    <h2> Welcome in your categories </h2><br>
    <div class="card-container">
        <a class="card" routerLink= "/categories/{{category._id}}" *ngFor="let category of categories">
          <span>{{category.name}}</span> &nbsp;&nbsp;
        </a>
      </div>
      <a class="card"  routerLink="/categories/addCategory">
        <span> + Add category </span> &nbsp;&nbsp;
      </a>
    </div> -->
