<app-toast [message]="toast.message"></app-toast>

<div class="container">
  <h2 class="card-header">Register</h2>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-group" [ngClass]="setClassName()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="name"
               formControlName="name" placeholder="Name" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassEmail()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <input class="form-control" type="email" name="email"
               formControlName="email" placeholder="Email">
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-key"></i>
          </span>
        </div>
        <input class="form-control" type="password" name="password"
               formControlName="password" placeholder="Password">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-black-tie"></i>
          </span>
        </div>
        <!--
        <select class="custom-select" name="role" formControlName="role">
          <option value="" selected disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
        -->
      </div>
      <input type="submit" [disabled]="!registerForm.valid" class="btn btn-primary" value="Register">
      <input type="reset"  class="btn btn-primary" value="Cancel">
    </form>
  </div>
</div>
